<h1>Password Generator</h1>

<div>
  <label for="">Enter Length</label>
  <input />
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" name="" id="" />
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" name="" id="" />
</div>

<div>
  <label for="">Use Symbol</label>
  <input type="checkbox" name="" id="" />
</div>

<button (click)="onButtonClick()">Generate!</button>

<div>
  <label for="">Your Password</label>
  <input [value]="password" />
</div>
